**This notebook is an exercise in the [SQL](https://www.kaggle.com/learn/intro-to-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/dansbecker/getting-started-with-sql-and-bigquery).**

---

# Introduction

The first test of your new data exploration skills uses data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers.

In [2]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

Use the next code cell to fetch the dataset.

In [3]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

### 1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?

In [4]:
# Write the code you need here to figure out the answer  

# List all the tables in the "Chicago Crime" dataset
table_ids = [x.table_id for x in client.list_tables(dataset)]

# Print names of all tables in the dataset
print(table_ids)

['crime']

In [5]:
num_tables = 1  # Store the answer as num_tables and then run this cell

# Check your answer
q_1.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [6]:
q_1.hint()
#q_1.solution()

Hint: Use the `list_tables()` method to get a list of the tables in the dataset.

### 2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?

In [11]:
# Write the code to figure out the answer

# Construct a reference to the "crime" table
table_ref = dataset_ref.table("crime")

# API request - fetch the table
table = client.get_table(table_ref)

# Print information on all the columns in the "crime" table in the "Chicago Crime" dataset
table.schema

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', None, (), None),
 SchemaField('case_number', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('date', 'TIMESTAMP', 'NULLABLE', None, (), None),
 SchemaField('block', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('iucr', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('primary_type', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('description', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('location_description', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('arrest', 'BOOLEAN', 'NULLABLE', None, (), None),
 SchemaField('domestic', 'BOOLEAN', 'NULLABLE', None, (), None),
 SchemaField('beat', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('district', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('ward', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('community_area', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('fbi_code', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('year', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', None, (), None),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('location', 'STRING', 'NULLABLE', None, (), None)]

In [13]:
# List of field of type TIMESTAMP
timestamp_fields = [x for x in table.schema if x.field_type == 'TIMESTAMP']
num_timestamp_fields = len(timestamp_fields) # Put your answer here


# Check your answer
q_2.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [7]:
q_2.hint()
#q_2.solution()

Hint: Begin by fetching the `crime` table. Then take a look at the table schema, and check the field type of each column.  How many times does `'TIMESTAMP'` appear?

### 3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?

In [14]:
# Write the code here to explore the data so you can find the answer
# Preview the first five lines of the "crime" table
client.list_rows(table, max_results=5).to_dataframe()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,5666702,HN475342,2007-07-19 05:00:00+00:00,0000X E 105TH ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,APARTMENT,False,False,...,9,49,02,1178289.0,1835337.0,2007,2018-02-28 03:56:25+00:00,41.703471,-87.622755,"(41.703471063, -87.622754746)"
1,12267191,JE110074,2021-01-08 07:50:00+00:00,007XX E 103RD ST,0281,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,True,...,9,50,02,1183000.0,1836830.0,2021,2021-09-07 03:41:02+00:00,41.707460,-87.605458,"(41.707460083, -87.605457992)"
2,7484876,HS285194,2010-05-01 07:20:00+00:00,003XX W 104TH PL,0312,ROBBERY,ARMED:KNIFE/CUTTING INSTRUMENT,ALLEY,False,False,...,34,49,03,1176009.0,1835633.0,2010,2018-02-10 03:50:01+00:00,41.704335,-87.631095,"(41.70433465, -87.631094752)"
3,7912947,HS431606,2010-07-27 03:38:53+00:00,104XX S MICHIGAN AVE,0312,ROBBERY,ARMED:KNIFE/CUTTING INSTRUMENT,STREET,False,False,...,9,49,03,1178893.0,1835938.0,2010,2018-02-10 03:50:01+00:00,41.705107,-87.620525,"(41.705106592, -87.620524823)"
4,8784788,HV458820,2012-09-03 12:40:00+00:00,007XX E 105TH PL,0313,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,SIDEWALK,False,False,...,9,50,03,1183115.0,1835160.0,2012,2016-02-04 06:33:39+00:00,41.702875,-87.605089,"(41.702874722, -87.60508858)"

In [15]:
fields_for_plotting = ['latitude', 'longitude'] # Put your answers here

# Check your answer
q_3.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [18]:
q_3.hint()
#q_3.solution()

Hint: Look at the table schema.  There are a couple options, but two of the fields are things commonly used to plot on maps. Both are `'FLOAT'` types. Use quotes around the field names in your answer.

Thinking about the question above, there are a few columns that appear to have geographic data. Look at a few values (with the `list_rows()` command) to see if you can determine their relationship.  Two columns will still be hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [19]:
# Scratch space for your code
client.list_rows(table, selected_fields=table.schema[-3:], max_results=5).to_dataframe()

    latitude  longitude                       location
0  41.703471 -87.622755  (41.703471063, -87.622754746)
1  41.707460 -87.605458  (41.707460083, -87.605457992)
2  41.704335 -87.631095   (41.70433465, -87.631094752)
3  41.705107 -87.620525  (41.705106592, -87.620524823)
4  41.702875 -87.605089   (41.702874722, -87.60508858)

# Keep going

You've looked at the schema, but you haven't yet done anything exciting with the data itself. Things get more interesting when you get to the data, so keep going to **[write your first SQL query](https://www.kaggle.com/dansbecker/select-from-where).**

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/intro-to-sql/discussion) to chat with other learners.*